
//默认主体颜色
$primary-color: #03284f !default;

//设置浏览器默认字体大小
$browser-default-font-size: 100 !default;

//默认字体样式
$font-family: Microsoft YaHei,Arial !default;

//默认字体颜色
$font-color: #333 !default;

//白色
$white: #fff;

//警告色
$errorColor: red;

//通过色
$successColor: green;

